body {
  background-color: #f9f9f9;
  color: #212529;
  font-family: sans-serif;
  padding: 16px;
  width: 250px;
  font-family: "Ubuntu", "DejaVu Sans", "Liberation Sans", sans-serif;
}

h3 {
  font-size: 18px;
  color: #000000;
  margin-bottom: 12px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

hr {
  border-color: #e0e0e0;
}

footer p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #343a40;
}